$navblue:#0099CC;



.gettingEvents{
  margin-top: 100px;


}


.square {
	width: 150px;
	height: 150px;
	margin: 1rem 0 2rem 1rem;
	background-color: blue;
  /*transition-property : all;
	transition-duration: 5s;*/
	transition: all 3s;
}


#circle .change {

	border-radius: 50%;
	background-color: yellow;
}
